

.profile-wrap{
margin:40px 0px;
}



.edit-profile-btn {
margin: 15px 0 0 15px;
font-weight: bold;
height: 26px;
line-height: 26px;
padding: 0 26px;
border-color: #dbdbdb;
font-size: 14px;
}



.profile-wrap{
margin-left: 10%;
}


/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/2);
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 10% 10% ;
  clear: both;
}


/*選択されているタブのコンテンツのみを表示*/
#recruits_item:checked ~ #recruits_item_content,
#entries_item:checked ~ #entries_item_content,
#design:checked ~ #design_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}

.card-body{
  margin-right: auto;
  margin-left: auto;
}

.card {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.text-center {
  margin-left: auto !important;
  margin-right: auto !important;
}